<div class="container">

    <mat-tab-group mat-align-tabs="start" dynamicHeight>
        <mat-tab label="Ankiety niewypełnione">
            <div class="example-small-box mat-elevation-z4">

                <table *ngIf="pollsUnfilled && pollsUnfilled.length>0" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Numer ankiety</th>
                            <th scope="col">Tytuł ankiety</th>
                            <th scope="col">Tagi</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Mail Autora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let poll of pollsUnfilled" (click)="selectPoll(poll)" style="cursor: pointer;">
                            <th scope="row">{{poll.pollId}}</th>
                            <td>{{poll.title}}</td>
                            <td>{{poll.tags}}</td>
                            <td>{{poll.authorName}}</td>
                            <td>{{poll.authorEmail}}</td>
                        </tr>
                    </tbody>
                </table>

                <h2 *ngIf="!pollsUnfilled">Wczytywanie...</h2>
                <h2 *ngIf="pollsUnfilled.length==0">Brak ankiet</h2>
            </div>
        </mat-tab>
        <mat-tab label="Ankiety wypełnione">
            <div class="example-large-box mat-elevation-z4">

                <table *ngIf="pollsFilled && pollsFilled.length>0" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Numer ankiety</th>
                            <th scope="col">Tytuł ankiety</th>
                            <th scope="col">Tagi</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Mail Autora</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let poll of pollsFilled">
                            <th scope="row">{{poll.pollId}}</th>
                            <td>{{poll.title}}</td>
                            <td>{{poll.tags}}</td>
                            <td>{{poll.authorName}}</td>
                            <td>{{poll.authorEmail}}</td>
                        </tr>

                    </tbody>
                </table>
                <h2 *ngIf="!pollsFilled">Wczytywanie...</h2>

                <h2 *ngIf="pollsFilled.length==0">Brak ankiet</h2>
            </div>
        </mat-tab>
    </mat-tab-group>


</div>