
<div class="card text-center">
  <div class="card-header">
    Zaloguj się
  </div>
  <div class="card-body">
    <h5 class="card-title">Zaloguj się używając konta Google</h5>

    <div class="google-btn" (click)="SignInWithGoogle()">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
      </div>
      <p class="btn-text"><b>Zaloguj się</b></p>
    </div>

  </div>
  <div class="card-footer text-muted">
    <div class="google-btn" (click)="LogOutFromGoogle()">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
      </div>
      <p class="btn-text"><b>Wyloguj się</b></p>
    </div>
  </div>
</div>
