<div class="container">


    <div *ngIf="!stats">
        <h1>Wczytywanie</h1>
    </div>

    <div *ngIf="stats">

        <h3>Twoje ankiety</h3>

        <h3 *ngIf="stats.length==0">Brak ankiet</h3>

        <plotly-plot [data]="graphPie.data" [layout]="graphPie.layout"></plotly-plot>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Wypełnienia</th>
                    <th scope="col">Udział procetowy</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stat of stats" (click)="selectPoll(stat.pollId)" style="cursor: pointer;">
                    <th scope="row">{{stat.pollId}}</th>
                    <td>{{stat.title}}</td>
                    <td>{{stat.description}}</td>
                    <td>{{stat.completions}}</td>
                    <td>{{stat.percentage}}%</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>