<ng-template #content let-modal>
    <div class="card m-2">
        <form class="needs-validation">
            <div class="panel-heading mb-2">
                <h3>{{poll.title}}</h3>
                <h5>{{poll.description}}</h5>
            </div>

            <div *ngFor="let question of poll.questions">
                <div class="card" *ngIf="question.type==0">
                    <h5 class="mb-2">({{question.position}}) {{question.title}}</h5>

                    <div class="form-check form-check-inline" *ngFor="let option of question.options.split('/'); let in=index">
                        <input class="form-check-input" type="radio" name={{question.position}} disabled="disabled" checked="{{getCheckedState(question.questionId, in)}}">
                        <label class="form-check-label" for="yes">{{option}}</label>
                    </div>
                    <!-- [value]="getAnswer(question.questionId).split('/').some(in)" -->
                    <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane</div>
                </div>

                <div class="card" *ngIf="question.type==1">
                    <h5 class="mb-2">({{question.position}}) {{question.title}}</h5>

                    <div class="form-check range" *ngFor="let option of question.options.split('/'); let in=index;">
                        <input class="form-check-input" type="checkbox" [value]="in" name={{question.position}} disabled="disabled" checked="{{getCheckedState(question.questionId, in)}}">
                        <label class="form-check-label" for={{question.questionId}}>{{option}}</label>
                    </div>

                    <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane</div>
                </div>

                <div class="card" *ngIf="question.type==2">
                    <h5 class="mb-2">({{question.position}}) {{question.title}}</h5>

                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder={{question.options}} [value]="getAnswer(question.questionId)" readonly></textarea>
                    </div>

                    <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane</div>
                </div>

                <div class="card" *ngIf="question.type==3">
                    <h5 class="mb-2">({{question.position}}) {{question.title}}</h5>
                    <ng-container *ngIf="{ min: question.options.split('/')[0], max: question.options.split('/')[1], step: question.options.split('/')[2] } as options">

                        <label>Podaj wartość od {{options.min}} do {{options.max}}</label>
                        <p>Wybrana wartość: {{(question.answer)? question.answer: "wybierz liczbę"}}</p>

                        <input type="range" class="custom-range" min="{{options.min}}" max="{{options.max}}" [value]="getAnswer(question.questionId)" id={{question.questionId}} disabled="disabled">
                    </ng-container>

                    <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane</div>
                </div>

                <div class="card" *ngIf="question.type==4">
                    <ng-container *ngIf="{ min: question.options.split('/')[0], max: question.options.split('/')[1] } as options">
                        <h5 class="mb-2">({{question.position}}) {{question.title}}</h5>

                        <label>Podaj wartość od {{options.min}} do {{options.max}}</label>
                        <input type="number" class="form-control text-center" min="{{options.min}}" max="{{options.max}}" id={{question.questionId}} [value]="getAnswer(question.questionId)" readonly>

                        <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane</div>
                    </ng-container>
                </div>
            </div>

            <div class="">
                <button type="button" class="btn btn-danger btn-sm buttons" (click)="close()">Cofnij</button>
                <!-- <button type="button" class="btn btn-success btn-sm btn-right buttons" (click)="submitPoll()">Zgłoś</button> -->
            </div>

        </form>
    </div>
</ng-template>

<button class="btn btn-sm btn-outline-secondary" (click)="open(content)">Pogląd</button>