USE [master]
GO
/****** Object:  Database [cloud]    Script Date: 14.11.2020 03:48:21 ******/
CREATE DATABASE [cloud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cloud', FILENAME = N'E:\Oprogramowanie\Programy\Databases\2019\Instance\MSSQL15.MSSQLSERVER\MSSQL\DATA\cloud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cloud_log', FILENAME = N'E:\Oprogramowanie\Programy\Databases\2019\Instance\MSSQL15.MSSQLSERVER\MSSQL\DATA\cloud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cloud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cloud]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 14.11.2020 03:48:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](200) NOT NULL,
	[EMail] [nvarchar](200) NOT NULL,
	[PasswordHash] [binary](32) NOT NULL,
	[UserType] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([UserType]<(3) AND [UserType]>(-1)))
GO
USE [master]
GO
