
<div class="container-fluid px-0 no-padding margin-top-home">
   

    <!--<div class="mySlides w3-display-container w3-center">
      <img src="/assets/img/banner1.jpg" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3>Los Angeles</h3>
        <p><b>We had the best time playing at Venice Beach!</b></p>   
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <img src="/assets/img/banner1.jpg" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3>New York</h3>
        <p><b>The atmosphere in New York is lorem ipsum.</b></p>    
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <img src="/assets/img/banner1.jpg" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3>Chicago</h3>
        <p><b>Thank you, Chicago - A night we won't forget.</b></p>    
      </div>
    </div>-->

  <div class="container">

    <div class="row px-0">
      <div class="col-12 px-0 ">
        <img src="assets/img/banner1.jpg" class="MainImage img-responsive px-0" alt="HTML5 Icon" width="100%" height="550px">
      </div>
    </div> 
    <h1 class="MainHeader mt-5">Ankietyzacja 2.0</h1>


    <div class="row mt-5">
      <div class="div-pollster shadow p-3  bg-primary">
      <h3>Ankietyzator</h3><i class="bi bi-person-fill"></i>
        <div class="row">
          <p class="text-start">
            Jako ankietyzator twórz, usuwaj, modyfikuj,
            swoje własne ankiety. Sprawdź ile osób wypełniło 
            formularze dzięki statystkom przedstawione jako wykresy.
            Dowiedz się które z pośród wszystkich formularzy 
            wykonywane są najchętniej, aktóre najrzadziej.
          </p>
        </div>
    </div>


      <div class="div-user shadow p-3  bg-success mt-3">
        <h3>Użytkownik</h3>
          <div class="row">
              <p class="text-start">
                Jako użytkownik, wyszukuj, uzupełniaj ankiety. Dzięki
                panelowi wyszukiwania będziesz wstanie wyszukać uzupełnione już formularze
                jak i te które wymagają twojej uwagi. Miej dostęp do wszystkich swoich ankiet
                przypisanych do twojego konta.
              </p>
          </div>
    </div>

    <div class="div-admin shadow p-3 n bg-danger mt-3">
      <h3>Administrator</h3>
        <div class="row">
            <p class="text-start">
              Jako administrator, zarządzaj ankietami - twórz, usuwaj, modyfikuj. Zmieniaj tagi, 
              usuwaj konta zwykłych użytkowników, jak i również zmień jego rodzaj, które pozwolą mu 
              na wykonywanie w
              ustawienie odpowiednie
            </p>
        </div>
  </div>
      
      

    </div>
  </div>
  

</div>



<!--
  <div class="row mt-5">
    <div class="bg-primary">
    <h3>Ankietyzator</h3>
    <div class="row">
      <span class="textDescription">
        Jako ankietyzator twórz, usuwaj, modyfikuj,
        swoje własne ankiety. Sprawdź ile osób wypełniło 
        dane ankiety przedstawione w postaci wykresu.
        Dowiedz się które z pośród wszystkich formularzy 
        wykonywane są najchętniej.
      </span>
    </div>
  </div>


    <div class="">
      <h3>Użytkownik</h3>
      <div class="row">
          <p class="textDescription">Jako użytkownik, wyszukuj, uzupełniaj ankiety. Dzięki
            panelowi wyszukiwania będziesz wstanie wyszukać uzupełnione już formularze
            jak i te które wymagają twojej uwagi.
          </p>
      </div>
-->