
<div class="container">
  <img src="assets/img/banner1.jpg" class="MainImage" alt="HTML5 Icon" width="80%" height="450px">
  <h1 class="MainHeader mt-5">Ankietyzacja 2.0</h1>



  <div class="row mt-5">

    <div class="col-6">
      <h3>Ankietyzator</h3>
      <p class="textDescription">Jako ankietyzator twórz, usuwaj, modyfikuj,
        swoje własne ankiety. Sprawdź ile osób wypełniło 
        dane ankiety przedstawione w postaci wykresu.
        Dowiedz się które z pośród wszystkich formularzy 
        wykonywane są najchętniej.
      </p>
    </div>

    <div class="col-6">
      <h3>Użytkownik</h3>
      <p class="textDescription">Jako użytkownik, wyszukuj, uzupełniaj ankiety. Dzięki
        panelowi wyszukiwania będziesz wstanie wyszukać uzupełnione już formularze
        jak i te które wymagają twojej uwagi.
      </p>
    </div>
    

  </div>

</div>
