<div class="container">
    <div class="card">
        <form class="form">
            <div class="panel-heading">
                <h3>Tytuł</h3>
                <p>Opis ankiety</p>
            </div>

            <div *ngFor="let question of poll.questions">
                <div class="card" *ngIf="question.type==1">
                    <p>{{question.title}}</p>

                    <div class="form-check form-check-inline" *ngFor="let option of question.options.split('/'); let in=index">
                        <input class="form-check-input" type="radio" name={{question.position}} value={{in}} [(ngModel)]="question.answer">
                        <label class="form-check-label" for="yes">{{option}}</label>
                    </div>
                </div>

                <div class="card" *ngIf="question.type==2">
                    <p>{{question.title}}</p>

                    <div class="form-check" *ngFor="let option of question.options.split('/'); let in=index;">
                        <input class="form-check-input" type="checkbox" value={{in}} name={{question.position}} [(ngModel)]="question.answer[in]">
                        <label class="form-check-label" for={{question.questionId}}>{{option}}</label>
                    </div>
                </div>

                <div class="card" *ngIf="question.type==3">
                    <label>{{question.title}}</label>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder={{question.options}} [(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </div>

                <div class="card" *ngIf="question.type==4">
                    <label>{{question.title}}</label>
                    <input type="range" class="custom-range" min="{{question.options.split('/')[0]}}" max="{{question.options.split('/')[1]}}" step="{{question.options.split('/')[2]}}" value="{{question.options.split('/')[3]}}" id={{question.questionId}} [(ngModel)]="question.answer"
                        [ngModelOptions]="{standalone: true}">
                </div>

                <div class="card" *ngIf="question.type==5">
                    <label>{{question.title}}</label>
                    <input type="number" class="form-control text-center" min="{{question.options.split('/')[0]}}" max="{{question.options.split('/')[1]}}" id={{question.questionId}} [(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="">
                <button type="button" class="btn btn-danger btn-sm buttons">Anuluj</button>
                <button type="button" class="btn btn-success btn-sm btn-right buttons" (click)="submitPoll()">Submit</button>
            </div>

        </form>

    </div>