
<div class="container">
  <div class="card">
    <form class="form">
    <div class="panel-heading">
      <h3>Tytuł</h3>
      <p>Opis ankiety</p>
    </div>

    <div class="card">
      <p>Pytanie typu tak/nie</p>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="yes" value="yes">
        <label class="form-check-label" for="yes">Tak</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="no" value="no">
        <label class="form-check-label" for="no">Nie</label>
      </div>
    </div>

    <div class="card">
      <p>Pytanie typu wybór</p>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Default checkbox
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Disabled checkbox
        </label>
      </div>

    </div>

    <div class="card">
      <label>Pytanie typu tekst</label>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>

    <div class="card">
      <label>Pytanie typu slider</label>
      <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange2">
    </div>

    <div class="card">
      <label >Pytanie typu number</label>
      <input type="number" class="form-control text-center" min="0" max="99" value="1">
    </div>

    <div class="">
      <button type="button" class="btn btn-danger btn-sm buttons">Anuluj</button>
      <button type="button" class="btn btn-success btn-sm btn-right buttons">Submit</button>
    </div>

 </form>

  </div>


