<div class="container">
    <mat-tab-group mat-align-tabs="start" dynamicHeight>
        <mat-tab label="Dane statystyczne">
            <div *ngIf="!questionStats">
                <h1>Wczytywanie</h1>
            </div>

            <div *ngIf="questionStats">

                <h1 *ngIf="questionStats.length==0">Brak odpowiedzi do ankiety</h1>

                <div *ngFor="let graph of graphs">
                    <div *ngIf="graph.data">
                        <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
                    </div>
                    <div *ngIf="!graph.data">
                        <h5 class="row d-flex justify-content-center mt-5">{{graph.title}}</h5>
                        <h5 class="row d-flex justify-content-center mb-2 mt-3">Brak odpowiedzi na to pytanie.</h5>
                    </div>
                </div>

            </div>
        </mat-tab>

        <mat-tab label="Pogląd ankiety">
            <div>
                <form *ngIf="pollStats">
                    <div class="panel-heading mb-2">
                        <h3>{{pollStats.title}}</h3>
                        <h5>{{pollStats.description}}</h5>
                    </div>

                    <div *ngFor="let question of pollStats.questions">
                        <div class="card" *ngIf="question.type==0">
                            <h5 class="mb-2">({{question.position}}) {{question.title}}</h5>

                            <div class="form-check form-check-inline" *ngFor="let option of question.options.split('/'); let in=index">
                                <input class="form-check-input" type="radio" name={{question.position}} value={{in}}>
                                <label class="form-check-label" for="yes">{{option}}</label>
                            </div>
                            <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane
                            </div>
                        </div>

                        <div class="card" *ngIf="question.type==1">
                            <h5 class="mb-2">({{question.position}}) {{question.title}}</h5>

                            <div class="form-check" *ngFor="let option of question.options.split('/'); let in=index;">
                                <input class="form-check-input" type="checkbox" value={{in}} name={{question.position}}> -->
                                <label class="form-check-label" for={{question.questionId}}>{{option}}</label>
                            </div>
                            <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane
                            </div>
                        </div>

                        <div class="card" *ngIf="question.type==2">
                            <h5 class="mb-2">({{question.position}}) {{question.title}}</h5>

                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder={{question.options}}></textarea>
                            </div>

                            <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane</div>
                        </div>

                        <div class="card" *ngIf="question.type==3">
                            <h5 class="mb-2">({{question.position}}) {{question.title}}</h5>
                            <ng-container *ngIf="{ min: question.options.split('/')[0], max: question.options.split('/')[1], step: question.options.split('/')[2] } as options">

                                <label>Podaj wartość od {{options.min}} do {{options.max}}</label>
                                <p>Wybrana wartość: {{(question.answer!=null)? question.answer: "wybierz liczbę"}}</p>

                                <input type="range" class="custom-range" min="{{options.min}}" max="{{options.max}}" step="{{options.step}}" id={{question.questionId}}>
                            </ng-container>

                            <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane</div>
                        </div>

                        <div class="card" *ngIf="question.type==4">
                            <ng-container *ngIf="{ min: question.options.split('/')[0], max: question.options.split('/')[1] } as options">
                                <h5 class="mb-2">({{question.position}}) {{question.title}}</h5>

                                <label>Podaj wartość od {{options.min}} do {{options.max}}</label>
                                <input type="number" class="form-control text-center" min="{{options.min}}" max="{{options.max}}" id={{question.questionId}}>
                                <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </div>

            <h5 class="stick">Ankieta jest {{(pollStats.nonAnonymous)? "Nieanonimowa" : "Anonimowa"}}</h5>
        </mat-tab>

        <mat-tab label="Dane szczegółowe">

            <div *ngIf="pollStats.nonAnonymous">
                <div *ngIf="pollDetailedAnswers">
                    <table *ngIf="pollDetailedAnswers.length>0" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">E-Mail</th>
                                <th scope="col">Użytkownik</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let poll of pollDetailedAnswers" style="cursor: pointer;">
                                <td>{{poll.eMail}}</td>
                                <td>{{poll.name}}</td>
                                <td>
                                    <app-poll-answers [stats]="pollStats" [answer]="poll"></app-poll-answers>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="row d-flex justify-content-center mt-5 mb-3" *ngIf="pollDetailedAnswers.length==0">Brak odpowiedzi</h2>
                </div>
            </div>

            <div *ngIf="!pollStats.nonAnonymous">

                <div *ngIf="!pollStats">
                    <h1>Wczytywanie</h1>
                </div>
                <h3 class="mt-2 mb-2">Ankieta jest anonimowa - do poglądu dostępne są jedynie listy odpowiedzi otwartych.</h3>
                <div *ngIf="pollStats">
                    <div *ngIf="pollStats.questions">
                        <div *ngIf="pollAnonymousAnswers">
                            <div *ngIf="pollAnonymousAnswers.length>0">
                                <div *ngFor="let question of pollStats.questions">

                                    <div class="card" *ngIf="question.type==2">
                                        <h3 class="mb-2">({{question.position}}) {{question.title}}</h3>
                                        <h3>Odpowiedzi:</h3>
                                        <div class="card" *ngFor="let answer of getAnswers(question.questionId)">
                                            <textarea class="form-control" rows="3" [value]="answer.content" readonly></textarea>
                                        </div>
                                        <h2 class="row d-flex justify-content-center mt-5 mb-3" *ngIf="getAnswers(question.questionId).length==0">Brak</h2>
                                        <div class="alert alert-secondary mt-2" *ngIf="!question.allowEmpty">To pole jest wymagane</div>
                                    </div>
                                </div>
                            </div>

                            <h2 class="row d-flex justify-content-center mt-5 mb-3" *ngIf="pollAnonymousAnswers.length==0">Brak odpowiedzi</h2>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>

        <!-- <app-poll-answers [content]="product"></app-poll-answers> -->
    </mat-tab-group>
</div>