.card {
    padding: 1%;
    margin-bottom: 1%;
}

.panel-heading {
    padding: 1%;
}

.btn-right {
    float: right;
}

.buttons {
    width: 25%;
}

.stick {
    float: right;
}

.q-header {
    font-size: 20;
    font-family: "Open Sans", verdana, arial, sans-serif;
}