<div class="container">

    <div class="mt-3 mb-2">

        <div class="mt-1 mb-2 row d-flex justify-content-center">
            <div class="col-4 mt-3">
                <h3 class="font-weight-bold">Filtruj</h3>
            </div>
            <div class="col-4">
                <label class="font-weight-bold">Email</label>
                <input id="mailFilter" class="form-control" [(ngModel)]="emailFilter" placeholder="Email">
            </div>

            <div class="col-4">
                <label class="font-weight-bold">Typ użytkonwika </label>
                <select id="selectKeyType" class="form-control" [(ngModel)]="keyUserTypeFilter" aria-placeholder="wybierz konto">
                                <option [value]="-1">Wszyscy</option>
                                <option [value]="0">Użytkownik</option>
                                <option [value]="1">Ankieter</option>
                                <option [value]="2">Admin</option>
                </select>
            </div>
        </div>
    </div>

    <div class="float-right">
        <button class="btn btn-primary mt-2" (click)="editKey(null)">Dodaj Klucz</button>
    </div>

    <h3 class="mt-3 mb-2 font-weight-bold">Lista kluczy</h3>
    <div class="d-flex justify-content-center mt-3">

        <table class="table table-bordered">
            <thead class="table-thead">
                <tr>
                    <th scope="col">Klucz</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rodzaj użytkownika</th>
                    <th scope="col" class="text-center">Akcja</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of keys | keysAdminPipe: emailFilter: keyUserTypeFilter">
                    <td> {{item.key}}</td>
                    <td> {{item.eMail}} </td>
                    <td>
                        <span *ngIf="item.userType == 0">Użytkownik</span>
                        <span *ngIf="item.userType == 1">Ankieter</span>
                        <span *ngIf="item.userType == 2">Admin</span>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-danger ml-2 mr-2" (click)="this.removeKey(item.key)">Usuń</button>
                            <button class="btn btn-primary" (click)="editKey(item)">Wybierz</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>