<div class="container fg">

    <div class="form-group">
        <h3>Filtruj ankiety</h3>
        <input class="form-control col-4" placeholder="wpisz tytuł ankiety" [(ngModel)]="searchTerm" />
    </div>

    <mat-tab-group mat-align-tabs="start" dynamicHeight>
        <mat-tab label="Ankiety użytkowników">
            <div *ngIf="!pollsActiveA">
                <h1 class="row d-flex justify-content-center mt-5 mb-3">Wczytywanie</h1>
            </div>

            <div *ngIf="pollsActiveA">
                <h1 class="row d-flex justify-content-center mt-5 mb-3" *ngIf="pollsActiveA.length==0">Ankiety</h1>

                <div *ngIf="pollsActiveA.length>0">

                    <h3 class="row d-flex justify-content-center mt-3 mb-3">Lista ankiet</h3>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tytuł</th>
                                <th scope="col">Opis</th>
                                <th scope="col">Wypełnienia</th>
                                <th scope="col">Anonimowość</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stat of pollsActiveA | pollFilter : searchTerm" (click)="selectPoll2(stat)" class="clickable">
                                <th scope="row">{{stat.pollId}}</th>
                                <td>{{stat.title}}</td>
                                <td>{{stat.description}}</td>
                                <td>{{stat.completions}}</td>
                                <td>{{(stat.nonAnonymous)? "Nieanonimowa" : "Anonimowa"}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>


        <mat-tab label="Archiwum">
            <div *ngIf="!pollsArchivedA">
                <h1 class="row d-flex justify-content-center mt-5 mb-3">Wczytywanie</h1>
            </div>

            <div *ngIf="pollsArchivedA">
                <h1 class="row d-flex justify-content-center mt-5 mb-3" *ngIf="pollsArchivedA.length==0">Brak ankiet</h1>

                <div *ngIf="pollsArchivedA.length>0">

                    <h3 class="row d-flex justify-content-center mt-3 mb-3">Lista ankiet</h3>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tytuł</th>
                                <th scope="col">Opis</th>
                                <th scope="col">Wypełnienia</th>
                                <th scope="col">Udział procetowy</th>
                                <th scope="col">Anonimowość</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stat of pollsArchivedA | pollFilter : searchTerm" (click)="selectPoll2(stat)" class="clickable">
                                <th scope="row">{{stat.pollId}}</th>
                                <td>{{stat.title}}</td>
                                <td>{{stat.description}}</td>
                                <td>{{stat.completions}}</td>
                                <td>{{stat.percentage}}%</td>
                                <td>{{(stat.nonAnonymous)? "Nieanonimowa" : "Anonimowa"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>


</div>