<div>

    <h1 class="mt-3">Podaj identyfikator ankietera oraz ankiety.</h1>
    <form>

        <input class="form-control mt-5" type="number" placeholder="Identyfikator ankiety" [(ngModel)]="pollId" [ngModelOptions]="{standalone: true}" required/>

        <input class="form-control mt-5" type="number" placeholder="Identyfikator ankietera" [(ngModel)]="pollsterId" [ngModelOptions]="{standalone: true}" required/>

        <button class="btn btn-success btn-lg mt-5" (click)="clonePoll()">Sklonuj ankietę.</button>
    </form>

</div>