<div class="container">
    <h1>Ustawienia</h1>

    <mat-tab-group mat-align-tabs="start" dynamicHeight>
        <mat-tab label="Użytkownik">
            <div class="container justify-content-center"> <!--class="example-small-box mat-elevation-z4"-->
                <app-user-info></app-user-info>
            </div>
        </mat-tab>

        <mat-tab *ngIf="authenticationService.user.value.userType == 2" label="Administrator">
            <div>
                <app-admin-info></app-admin-info>
            </div>
        </mat-tab>
        
    </mat-tab-group>

</div>