<div class="container fg">
    <h1>Ustawienia</h1>

    <mat-tab-group mat-align-tabs="start" dynamicHeight>
        <mat-tab label="Użytkownik">
            <div class="container justify-content-center">
                <!--class="example-small-box mat-elevation-z4"-->
                <app-user-info></app-user-info>
            </div>
        </mat-tab>

        <mat-tab *ngIf="userType > 0" label="Ankieter">

            <app-clone-polls></app-clone-polls>

        </mat-tab>

        <mat-tab *ngIf="userType > 1" label="Administrator - Klucze">
            <div>
                <app-admin-keys></app-admin-keys>
            </div>
        </mat-tab>

        <mat-tab *ngIf="userType > 1" label="Administrator - Użytkownicy">
            <div>
                <app-admin-keys></app-admin-keys>
            </div>
        </mat-tab>

    </mat-tab-group>

</div>